<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"
    ></script>
    <style id="hot-css"></style>
    <title>Document</title>
  </head>
  <body>
    <div class="title-container"></div>
    <div class="tags-container"></div>
    <div class="content-container"></div>
    <div class="index-container"></div>
  </body>
  <script src="script.js"></script>
</html>
